<mat-toolbar color="primary">
  <span class="fill-remaining-space" id="details-toolbar">Event details</span>
</mat-toolbar>

<div *ngIf="event" class="table-container">

  <table mat-table [dataSource]="[event]" class="mat-elevation-z8" id="events-table">
    <ng-container matColumnDef="id" id="col-id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let event"> {{event.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name" id="col-name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let event"> {{event.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type" id="col-type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let event"> {{event.type}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate" id="col-start-date">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let event"> {{event.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="startTime" id="col-start-time">
      <th mat-header-cell *matHeaderCellDef> Start Time </th>
      <td mat-cell *matCellDef="let event"> {{event.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="url" id="col-url">
      <th mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let event"> <a [href]="event.url" target="_blank">{{event.url}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="info" id="col-info">
      <th mat-header-cell *matHeaderCellDef> Info </th>
      <td mat-cell *matCellDef="let event">{{event.info}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" id="table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
